extends ../../../views/layout

block content
  .page-header
    h2 Edit Scrap

  .well
    h4 Update the scrap
    form(action="/scraping/edit/" + scrap._id, method="post")
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label(for="inputName") Name
        input.form-control#inputName(type="text", name="name", placeholder="name", value=scrap.name)
      .form-group
        label(for="inputUrl") Url
        input.form-control#inputUrl(type="text", name="url", placeholder="url", value=scrap.url)
      each field, index in scrap.fields
        .form-group
          if index == 0
            label Fields
          .row
            .col-md-3
              input.form-control(name="field[]", type="text", placeholder="Selector", value=field.selector)
            .col-md-3
              select.form-control(name="typeField[]")
                option(value="html", selected="" + field.type == "html") Html
                option(value="text", selected="" + field.type == "text") Text
                option(value="link", selected="" + field.type == "link") Link
            .col-md-3
              input.form-control(name="parent[]", type="text", placeholder="Parent selector", value=field.parent)
            .col-md-2
              .checkbox
                label
                  if field.unique
                    input(type="checkbox", name="unique[]", value=index, checked) 
                  else
                    input(type="checkbox", name="unique[]", value=index) 
                  | Unique
            if index > 0
              .col-md-1.text-right
                button.btn.btn-warning.btn-remove-field
                  i.fa.fa-times
      .form-group
        .text-right
          button.btn.btn-secondary#addField(type="button") Add field
      .form-group
        button.btn.btn-primary(type="submit") Send
        a.btn.btn-default(href="/scraping") Cancel

block scripts
  script(src="/scraping/js/main.js")